.container.about
  h2= t('about.what-is-it.title')
  p= t('about.what-is-it.text')
  h2= t('about.goal.title')
  ul
    li= t('about.goal.1')
    li= t('about.goal.2')
    li= t('about.goal.3')
  h2= t('about.what-information-is-available.title')
  p!= t('about.what-information-is-available.text')
