.container.about
  h1.lg-col-12=t('about.what-is-it.title')
  p=t('about.what-is-it.text')
  h1=t('about.goal.title')
  ul
    li=t('about.goal.1')
    li=t('about.goal.2')
  h1=t('about.what-information-is-available.title')
  p=t('about.what-information-is-available.text.1')
  p!=t('about.what-information-is-available.text.2')
