section.container.homepage
  .row
    .col-xs-12.col-sm-3.filters
      input.form-control.search(type='text' value='{{ filters.search }}')
      span.search-icon.glyphicon.glyphicon-search
    .col-xs-12.col-sm-6
      span.btn-filter=t('filters.filter-by')
      a.btn.btn-link.btn-filter(href='#' on-click='filter:country')=t('app.country')
      a.btn.btn-link.btn-filter(href='#' on-click='filter:technology')=t('app.technology')
      a.btn.btn-link.btn-filter(href='#' on-click='filter:tags')=t('app.tags')
      a.btn.btn-link.btn-filter(href='#' on-click='filter:category')=t('app.category.filter')
    | {{#if user.id }}
    .col-xs-12.col-sm-3
      a.btn.btn-default.btn-block(href='/apps/new')
        i.glyphicon.glyphicon-plus-sign
        |  #{t('Upload app')}
    | {{/if}}
  .row
    | {{#each applications}}
    application(application='{{ this }}')
    | {{ else }}
    .jumbotron.text-center=t('No apps to show')
    | {{/each applications}}
