section.homepage
  .container
    .row.homepage-navigation
      .col-xs-12.col-sm-4
        input.form-control.search(type='text' value='{{ filters.search }}' on-keyup='search')
        span.search-icon.glyphicon.glyphicon-search
      .col-xs-12.col-sm-4
        //- span= t('filters.filter-by')
        button.btn.btn-link(type='button' on-click='filter:country')
          = t('app.country')
          | &nbsp;
          span.caret
        button.btn.btn-link(type='button' on-click='filter:technology')
          = t('app.technology')
          | &nbsp;
          span.caret
        button.btn.btn-link(type='button' on-click='filter:tags')
          = t('app.tags')
          | &nbsp;
          span.caret
      .col-xs-12.col-sm-4.sort.text-right
        {{#sorts}}
        button(
          type='button',
          class='btn btn-link sort-btn {{isSortActive(key)}}',
          on-click="sortBy:{{key}},{{order}}")
          {{title}}
        {{/sorts}}
    .row.filters: .col-xs-12
      | {{#each selectedCountries}}
      span.badge.filter-country {{ this.name[lang] }}
        span.filter-remove
          a(on-click="removeFilter:{{'country'}},{{this.id}}") ×
      | {{/each selectedCountries}}
      | {{#each selectedTechnologies}}
      span.badge.filter-technology {{ this.name }}
        span.filter-remove
          a(on-click="removeFilter:{{'technology'}},{{this.id}}") ×
      | {{/each selectedTechnologies}}
      | {{#each selectedTags}}
      span.badge.filter-tag {{ this.name[lang] }}
        span.filter-remove
          a(on-click="removeFilter:{{'tag'}},{{this.id}}") ×
      | {{/each selectedTags}}
        
  .container.applications-wrapper
    | {{#filterUpdating}}
    .loading-overlay
    | {{/filterUpdating}}
    
    | {{#if applications}}
    .applications-container
      | {{#each applications}}
      application(application='{{ this }}' user='{{ user }}')
      | {{/each applications}}
    | {{ else }}
    .jumbotron.text-center
      p= t('No apps to show yet')
      | {{#if user.id }}
      a.btn.btn-default.btn-lg(href='/apps/new')
        i.glyphicon.glyphicon-plus-sign
        |  #{t('Upload app')}
      | {{ else }}
      a.btn.btn-default.btn-lg(href='/login')
        i.glyphicon.glyphicon-plus-sign
        |  #{t('Upload app')}
      | {{/if}}
    | {{/if}}
