section.container
  .row
    .col-xs-12.col-md-2.col-md-offset-3.text-center.header-step.header-step-1: h2 1. #{t('app-form.header.cover')}
    .col-xs-12.col-md-2.hidden-xs.hidden-sm.text-center.disabled.header-step.header-step-2: h2 2. #{t('app-form.header.content')}
    .col-xs-12.col-md-2.hidden-xs.hidden-sm.text-center.disabled.header-step.header-step-3: h2 3. #{t('app-form.header.publish')}
  | {{#if step == 1 }}
  .row.step.step-1
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-3.col-md-offset-3.left-container
      .background-color.app-logo(style='background-image: url({{ app.logo }})')
        | {{#if !app.logo }}
        h1 Logo
        | {{/if}}
      .title-container
        textarea(placeholder=t('app-form.name.placeholder') value='{{ app.name }}')
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-offset-0.col-md-3
      h4=t('app-form.cover.logo-title')
      input.logo(type='text' value='{{ app.logo }}')
      ol
        li!=t('app-form.cover.logo-instructions')
        li!=t('app-form.cover.background-instructions')
      colorpicker(value='{{ app.backgroundColor }}')
      input.rgb(type='text' value='{{ app.backgroundColor }}' disabled)
  .row
    .col-xs-12.col-sm-4.col-sm-offset-4
      button.btn.btn-success.btn-block.continue(on-click='goto: 2')
        =t('app-form.button.continue') + ' '
        i.glyphicon.glyphicon-ok-circle
  | {{/if}}
  | {{#if step == 2 }}
  .row.step.step-2
    .col-xs-12.col-sm-4
      .container
        .row
          .col-xs-12.col-sm-6.col-sm-offset-3
            h2.text-center: strong='{{ app.name }}'
        form.row
          .col-xs-12.col-sm-3.col-sm-offset-3
            .form-group
              input.form-control(placeholder=t('app.organization-name') value='{{ app.organization }}')
            .form-group
              select.form-control(value='{{ app.country }}')
                option(value='')=t('app.country')
                | {{#each countries}}
                option(value='{{ this.id }}') {{ this.name[lang] }}
                | {{/each}}
            .form-group
              input.form-control(placeholder=t('app.website') value='{{ app.website }}')
            .form-group
              .input-group
                .input-group-addon @
                input.form-control(placeholder=t('app.twitter') value='{{ app.twitter }}')
            .form-group
              select.form-control(value='{{ app.license }}')
                option(value='')=t('app.license')
                | {{#each licenses}}
                option(value='{{ this.id }}') {{ this.name }}
                | {{/each}}
            .form-group
              select.form-control(value='{{ app.category }}')
                option(value='')=t('app.category')
                | {{#each categories}}
                option(value='{{ this.id }}') {{ this.name[lang] }}
                | {{/each}}
          .col-xs-12.col-sm-3
            .form-group
              textarea.description.form-control(placeholder=t('app.description') value='{{ app.description[lang] }}')
            .form-group
              input.form-control(placeholder=t('app.technology') value='{{ app.technology }}')
            .form-group
              input.form-control(placeholder=t('app.github-repository') value='{{ app.github }}')
            .form-group
              input.form-control(placeholder=t('app.contact') value='{{ app.contact }}')
        .row
          .col-xs-12.col-sm-6.col-sm-offset-3
            .form-group
              textarea.form-control(placeholder=t('app.comments') value='{{ app.comments }}')
        .row
          .col-xs-12.col-sm-6.col-sm-offset-3
            .form-group
              h4: strong=t('app.tags')
            | {{#each tags }}
            .checkbox
              label
                input(type='checkbox' name='{{ app.tags }}' value='{{ this }}')
                ='{{ this.name[lang] }}'
            | {{/each }}
        .row
          .col-xs-12.col-sm-2.col-sm-offset-4
            button.btn.btn-danger.btn-block.continue(on-click='goto: 1')
              i.glyphicon.glyphicon-remove-circle
              =' ' + t('app-form.button.cancel')
          .col-xs-12.col-sm-2
            button.btn.btn-success.btn-block.continue(on-click='goto: 3')
              =t('app-form.button.continue') + ' '
              i.glyphicon.glyphicon-ok-circle
  | {{/if}}
  | {{#if step == 3 }}
  appdetail(application='{{ app }}')
  .row
    .col-xs-12.col-sm-2.col-sm-offset-4
      button.btn.btn-danger.btn-block.continue(on-click='goto: 2')
        i.glyphicon.glyphicon-edit
        =' ' + t('app-form.button.edit')
    .col-xs-12.col-sm-2
      button.btn.btn-success.btn-block.continue(on-click='save')
        =t('app-form.button.done') + ' '
        i.glyphicon.glyphicon-ok
  | {{/if}}